.all {
    display: table-row;
    text-align: center;
    font-weight: bold;
    width: auto;
    position: center;
    margin: 10px;


}
.square {
    display: table-cell;
    position: center;
    font-size: large;
    width: 100px;
    height: 50px;
    background-color: #b0b0b0;
    border-style: groove;
}
.squareOn {
    display: table-cell;
    position: center;
    font-size: large;
    width: 100px;
    height: 50px;
    background-color: #8dce47;
    border-style: groove;
}
.squareOff {
    display: table-cell;
    position: center;
    font-size: large;
    width: 100px;
    height: 50px;
    background-color: #e86767;
    border-style: groove;

}
.circleOn {
    display: table-cell;
    width: 50px;
    background-color: #8dce47;
    border-radius: 100%;
    box-shadow: 0 0 20px #bfff78;

}
.circleOff {
    display: table-cell;
    width: 50px;
    background-color: #e86767;
    border-radius: 100%;
    box-shadow: 0 0 20px #e37272;

}