.all {
    display: inline-block;
    width: 600px;
}
.square {

    font-size: large;
    width: 100px;
    height: 50px;
    background-color: #b0b0b0;
    border-color: black;
    margin: 10px;
}
.squareOn {

    font-size: large;
    width: 100px;
    height: 50px;
    background-color: #8dce47;
    border-color: black;
    margin: 10px;
}
.squareOff {

    font-size: large;
    width: 100px;
    height: 50px;
    background-color: #e86767;
    border-color: black;
     margin: 10px;
}
.circleOn {

    width: 50px;
    height: 50px;
    background-color: #8dce47;
    border-color: black;
    border-radius: 50px;
    margin: 10px;
}
.circleOff {

    width: 50px;
    height: 50px;
    background-color: #e86767;
    border-color: black;
    border-radius: 50px;
    margin: 10px;
}