span.main {
    border: 2px solid blue;
    display: inline-block;
    min-height: 20px;
    min-width: 70px;
}
.select {
    padding: 5px;
}
.items {
    position: absolute;
    display: block;
}
.item {

}
.itemSelected {
    background-color: cornflowerblue;
    color: honeydew;

}